<!DOCTYPE html>

<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel="stylesheet" href="css/style.css">
		<title> To do list </title>
	</head>

    <body> 
        <header>

        </header>

        <main>
            <div id="app">

                <div class="row justify-content-center">

                    <div class="col-6">

                        <div class="mb-3">
                            <label for="task" class="form-label">Insert new task to do</label>
                            <input type="text" class="form-control" id="task" v-model="newTask.task_desc" @keyuap.enter="addTask"/>
                        </div>
            
                        <button class="btn btn-primary" @click="addTask">Add</button>

                        <ul>
                            <li v-for="(task, index) in tasks">
                                N.{{index + 1}} {{tasks[index].task_desc}}
                                <input type="checkbox" class="form-control" v-model="newTask.task_done"/>
                                <button @click="deleteTask(index)"> X </button>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </main>

        <footer>
            
        </footer>
        <script src="js/script.js"></script>
    </body>
</html>